<nav>
    <ul class="hide">
      <li><a class="normal" routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a class="normal" routerLink="/catalog">Catalog</a></li>
      <li><a class="normal" routerLink="/Cart">Cart</a></li>
      <li><a class="normal" routerLink="/about">About Us</a></li>
      <div *ngIf="!loggedIn; then login else profile"></div>
      <ng-template #login>
        <li><a routerLink="profile" class="normal">Login</a></li>
      </ng-template>
      <ng-template #profile>
        <li class="dropdown" ngbDropdown>
          <a class="dropdown-toggle notNormal" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img [src]="user.getImage()" style="width: 35px; height: 35px; border-radius: 50px ;" alt="User Image">
          </a>
          <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdownMenuButton">
            <li class="dropdown-item"><a [routerLink]="['/profile/user']" class="dropdown-item dropdownStyle">user details</a></li>
            <li class="dropdown-item"><button class="btn btn-link dropdownStyle" (click)="logout()">logout</button></li>
          </ul>
        </li>
      </ng-template>
    </ul>
</nav>
