<nav>
  <ul class="hide">
    <li><a class="normal" routerLink="/home" routerLinkActive="active">Home</a></li>
    <li><a class="normal" routerLink="/catalog">Catalog</a></li>
    <li *ngIf="loggedIn"><a class="normal" routerLink="/cart">Cart</a></li>
    <li><a class="normal" routerLink="/about">About Us</a></li>
    <li><a class="normal" routerLink="/view-trainings">Trainings</a></li>
    <li><a class="normal" routerLink="/subscribe">Subscribe</a></li>
    <div *ngIf="!loggedIn">
      <li><a routerLink="profile" class="normal">Login</a></li>
    </div>
    <div *ngIf="loggedIn">
      <li ngbDropdown class="dropdown">
        <a ngbDropdownToggle class="dropdown-toggle notNormal" id="dropdownMenuButton">
          <img [src]="user.image" style="width: 35px; height: 35px; border-radius: 50px;" alt="User Image">
        </a>
        <ul ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <li><a class="dropdown-item" [routerLink]="['/profile/user']">User details</a></li>
          <li><a class="dropdown-item" (click)="onSubmit()">Logout</a></li>
        </ul>
      </li>      
    </div>
  </ul>
</nav>
