<div style="background-image: url('/assets/gymmawy.png'); 
            background-position: left; 
            background-repeat: no-repeat;
            background-size: 300px 250px; 
            height: 100vh; 
            width: 100vw;"
>
<div class="subscribe-background">
  <div class="subscribe-container" *ngIf="!isSubscribed; else subscribedTemplate">
    <form (ngSubmit)="onSubmit()" #subscribeForm="ngForm" class="subscribe-form">
      <div class="form-group">
        <label for="age">Age:</label>
        <input type="number" id="age" [(ngModel)]="subscribeModel.age" name="age" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="height">Height (cm):</label>
        <input type="number" id="height" [(ngModel)]="subscribeModel.height" name="height" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="weight">Weight (kg):</label>
        <input type="number" id="weight" [(ngModel)]="subscribeModel.weight" name="weight" class="form-control" required>
      </div>

      <div class="form-group">
        <label for="gender">Gender:</label>
        <select id="gender" [(ngModel)]="subscribeModel.gender" name="gender" class="form-control" required>
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
      </div>

      <div class="form-group">
        <label for="cardNumber">Credit Card Number:</label>
        <input type="text" id="cardNumber" [(ngModel)]="subscribeModel.card_number" name="cardNumber" maxlength="16" class="form-control" placeholder="xxxx xxxx xxxx xxxx" required>
      </div>

      <div class="form-group row">
        <div class="col-half">
          <label for="cvv">CVV:</label>
          <input type="text" id="cvv" [(ngModel)]="subscribeModel.cvv" name="cvv" maxlength="3" class="form-control" placeholder="xxx" required>
        </div>
        <div class="col-half">
          <label for="expirationDate">Expiration Date:</label>
          <input type="text" id="expirationDate" [(ngModel)]="subscribeModel.expiration_date" name="expirationDate" maxlength="5" class="form-control" placeholder="MM/YY" required>
        </div>
      </div>

      <button type="submit" class="btn-primary">Subscribe</button>
    </form>
  </div>
</div>

<ng-template #subscribedTemplate>
  <div class="text-center">
    <h3>You are already subscribed!</h3>
    <button class="btn-primary" (click)="goToWorkoutPlan()">Go to Workout & Nutrition Plan</button>
  </div>
</ng-template>
