<div style="background-color: #333; color: white; padding: 10px;width: 11rem;">
  <h2>Machines</h2>
  <div class="col-2">
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('ALL')">All Categories</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('back')">Back</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('legs')">Legs</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('chests')">Chests</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('bicycle')">Bicycle</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('biceps')">Biceps</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('running')">Running</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('stair')">stair</button>
  </div>
</div>
