<div style="background-color: #333; color: white; padding: 10px;">
  <h2>Genres</h2>
  <div class="col-2">
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('ALL')">All Categories</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Adventure')">Adventure</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Action')">Action</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Biography')">Biography</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Comedy')">Comedy</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Drama')">Drama</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('History')">History</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Thriller')">Thriller</button>
    <button class="btn btn-secondary btn-block mb-2 sidebar-button" (click)="selectCategory('Romance')">Romance</button>
  </div>
</div>
