<div class="container my-5">
  <h2 class="text-center mb-4">Your Purchase History</h2>

  <div *ngIf="orders && orders.length > 0; else noOrders">
    
    <div *ngFor="let order of orders" class="card mb-4 shadow-sm">
      <div class="card-header bg-primary text-white">
        <h3 class="order-title m-0">Order ID: {{ order.id }}</h3>
      </div>
      <div class="card-body">
        <p><strong>Order Date:</strong> {{ order.purchase_date }}</p>
        <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
        <p><strong>Status:</strong> {{ order.status }}</p>

        <div class="purchased-items">
          <h4 class="mb-3">Purchased Items:</h4>
          <ul>
            
            <li *ngFor="let item of order.items">
              <p><strong>Product:</strong> {{ item.product_name }}</p>
              <p><strong>Quantity:</strong> {{ item.quantity }}</p>
              <p><strong>Price:</strong> ${{ item.price }}</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  
  <ng-template #noOrders>
    <div class="text-center">
      <p class="text-muted">No orders available</p>
    </div>
  </ng-template>
</div>
