<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Users</h5>
            <p class="card-text">View and manage registered users.</p>
            <a [routerLink]="['/profile/admin/manage-users']" class="btn btn-primary">Manage Users</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Subscribers</h5>
            <p class="card-text">View and manage subscriber details.</p>
            <a [routerLink]="['/profile/admin/manage-subscribers']" class="btn btn-primary">Manage Subscribers</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">Manage Products</h5>
            <p class="card-text">Add, edit, or remove products from the catalog.</p>
            <a [routerLink]="['/profile/admin/manage-products']" class="btn btn-primary">Manage Products</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  